<!-- CSS -->
<style>
  .landing-banner {
    background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url(<%= image_path('banner.jpg') %>);
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<!-- HTML -->
<div class="landing-banner">
  <div class="banner-search">
    <h1>Approximity</h1>
    <div class="element-inline">
      <span>SHOP LOCAL:</span>
      <div class="typedjs"><span id="typedjs"></span></div>
    </div>
    <%= form_tag root_path, method: :get, remote: true do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
    <% end %>
    <div class="invisible-box"></div>
  </div>
</div>
