<div id='map' style='width: 100vw; height: 100vh;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obmdyYWhhbWZyZWVtYW4iLCJhIjoiY2pvcHo4bTRzMDh4OTNxcXZsMW9weG5sMCJ9.VqybDrZRkykOvm1vN8wGhw';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
});
</script>