<table class="hours">
  <%business.hours.each_with_index do |day, i| %>
    <% if i == Date.today.wday-1 %>
    <tr>
      <td><strong><%= day %></strong></td>
    </tr>
    <% else %>
    <tr>
      <td><%= day %></td>
    </tr>
    <% end %>
  <% end %>
</table>