<table class="hours">
  <tr>
    <td>Monday</td>
    <td>Closed</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>8:00am - 5:00pm</td>
  </tr>                                                            
</table>