<div
  class='map'
  style="
    background-image: url('https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/<%= business.longitude %>,<%= business.latitude %>,17.0,0,0/968x254?access_token=<%= ENV["MAPBOX_API_KEY"] %>');
    width: 100%;
    height: 254px;
    position: relative;
    background-size: cover;
  "
>
  <i class="fas fa-map-marker-alt" style="position: absolute; color:red; font-size: 32px; top: 127px; right: 50%;"></i>
</div>
 