<% if business.ratings.nil? %>
  <% business.ratings = 0 %>
<% end %>

<% number = business.ratings  %>

<% while number > 0 %>
  <% if number >= 1 %>
    <i class="fas fa-star"></i>
  <% elsif number >= 0.21 && number < 0.71 %>
    <i class="fas fa-star-half"></i>
  <% elsif number >= 0.79 %>
    <i class="fas fa-star"></i>
  <% end %>

  <p><% number -= 1 %></p>
<% end %>
