.landing-banner {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 78px;
    text-align: center;
    color: white;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
  }
  form {
    width: 70%;
  }
  span {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
    padding-right: 10px;
  }
}
.invisible-box {
  height: 100px;
}
.element-inline {
  display: flex;
}
