// Specific CSS for your home-page
.wrapper {
  display: flex;
}
.search-business {
  width: 70%;
  padding: 30px;
  background-color: white;
}
.search-business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
.list-business {
  width: 30%;
  background: white;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
  input {
    margin-bottom: 10px;
  }
}
.list-business-content {
  position: sticky;
  top: 0;
  padding: 30px;
}
.form-control {
  background-color: #E1E1E1;
  border: none;
  box-shadow: none;
}
