// Specific CSS for your home-page
.wrapper {
  display: flex;
}
.search-business {
  width: 70%;
  padding: 30px;
  background-color: white;
}
.search-business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  margin-top: 30px;
  height: 80vh;
  overflow-y: scroll;
  box-shadow: 0 0 20px rgba(120, 120, 120, 0.1);

}
.list-business {
  width: 30%;
  background: white;
  box-shadow: 0 0 20px rgba(120, 120, 120, 0.1);
  min-height: 100vh;
}
.list-business-content {
  position: sticky;
  top: 0;
  padding: 30px;
}
