// Specific CSS for your home-page
.wrapper {
  display: flex;
}
.search-business {
  width: 70%;
  padding: 30px;
  background-color: white;
}
.search-business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
.list-business {
  width: 30%;
  background: white;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}
.list-business-content {
  position: sticky;
  top: 0;
  padding: 30px;
}
