.map {
  position: relative;
}
.map-content {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 25%;
  input {
    background-color: white;
  }
}
#journey-cart {
  margin-top: 30px;
  margin-bottom: 30px;
}
