<div class="landing-banner">
  <div class="banner-search">
    <h1>Approximity</h1>
    <div class="element-inline">
      <span>SHOP LOCAL:</span>
      <div class="typedjs"><span id="typedjs"></span></div>
    </div>
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
    <% end %>
    <div class="invisible-box"></div>
  </div>
</div>
