<!-- CSS -->
<style>
  .card-list-image {
    background-image: url(<%= image_path('business.jpg') %>);
    width: 90px;
    height: 90px;
    background-size: cover;
    border-radius: 50%;
  }
</style>

<!-- HTML -->
<div class="card-list">
  <div class="card-list-image">
  </div>
  <div class="card-list-content">
    <div class="card-list-content-inline">
      <h1>St. Viateur Bagels</h1>
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="card-list-rating">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half"></i>
      <p>4,5</p>
      <p id='card-list-rating-number'>(210)</p>
    </div>
    <div class="card-list-content-inline">
      <p>1234 St-Laurent • (514) 876-8765</p>
      <p>1.2 km</p>
    </div>
  </div>
</div>
