.banner-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 78px;
    text-align: center;
    color: white;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
  }
  form {
    width: 100%;
  }
  .message-banner {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
  }
}
.invisible-box {
  height: 100px;
}
.element-inline {
  display: flex;
  width: 60%;
  opacity: 0.9;
  > span {
    width: 50%;
    text-align: right;
    padding-right: 5px;
  }
}
