// Buttons
.button-call-to-action {
  background: $orange;
  color: white;
}
.button-call-to-action:hover {
  background: $light-orange;
  color: white;
}
.primary-button {
  background: white;
  border: 2px solid $orange;
  box-sizing: border-box;
  border-radius: 2px;
  color: $orange;
}
.primary-button:hover {
  background: $orange;
  color: white;
}
.secondary-button {
  color: #4A4A4A;
}
.secondary-button:hover {
  color: $orange;
}
.font-awesome-button {
  background: none;
  color: #4a4a4a;
  border: none;
}
.font-awesome-button:hover {
  background: none;
  color: $orange;
}
