// Buttons
.button-call-to-action {
  background: $orange;
  color: white;
}
.button-call-to-action:hover {
  background: rgba(255, 0, 0, 0.6);
  color: white;
}
.primary-button {
  border: 2px solid $orange;
  box-sizing: border-box;
  border-radius: 2px;
  color: $orange;
}
.primary-button:hover {
  background: $orange;
  color: white;
}
.secondary-button {
  color: #4A4A4A;
}
.secondary-button:hover {
  color: $orange;
}
