.card-list {
  background-color: white;
  width: 100%;
  margin-top: 20px;
  display: flex;
  position: relative;
}
.card-list-content {
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
    color: #838383;
  }
  a {
    color: #4a4a4a;
  }
  a:hover {
    color: #FF2424;
  }
}
.card-list-rating {
  color: $yellow;
  display: flex;
  align-items: center;
  font-size: 12px;
  p {
    color: $yellow;
    margin: 0;
    font-weight: bold;
    padding-bottom: 1px;
  }
  #card-list-rating-number {
    color: #838383;
    padding-left: 10px;
  }
}
.card-list-content-inline {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
