.card-list {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  position: relative;
  border-radius: 2px;
}
.card-list-image img {
  width: 90px;
  height: 90px;
  background-size: cover;
  border-radius: 2px;
}
.card-list-content {
  width: calc(100% - 90px);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    margin: 0;
    color: #838383;
  }
  a {
    color: #4a4a4a;
  }
  a:hover {
    color: #FF2424;
  }
}
.card-list-content-inline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Not necessary anymore
.card-list-rating {
  color: $yellow;
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-bottom: 5px;
  i {
    margin-right: 2px;
  }
  p {
    color: $yellow;
    margin: 0;
    font-weight: bold;
  }
  #card-list-rating-number {
    color: #838383;
    padding-left: 10px;
    font-weight: normal;
  }
}
