.card {
  width: 260px;
  margin: 0 10px 30px 10px;
  position: relative;
  p {
    font-size: 13px;
    margin: 0;
  }
}
.card-status {
  position: absolute;
  top: 10px;
  right: 10px;
}
// .card:hover h1 {
//   text-decoration: underline;
// }
.card-content {
  h1 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 5px;
  }
}
.card-rating {
  color: $yellow;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  i {
    margin-right: 2px;
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}
.card-description {
  color: #838383;
  padding-top: 5px;
}
.card-action {
  margin-top: 15px;
  display: flex;
}
