.modal-business-info {
  padding: 50px;
  h1.modal-title {
    font-family: Montserrat;
    font-weight: normal;
    text-decoration: none;
    font-size: 40px; 
  }
  h2.modal-category {
    margin: 0px;
    font-family: Montserrat;
    font-size: 32px;
  }
  p {
    font-family: Open Sans;
    font-size: 16px;
    text-align: justify;
  }
  p.contact {
    padding-right: 15px;
  }
}

.card:hover h1.modal-title {
  text-decoration: none;
}

.modal-button {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

