.status-background {
  background-color: $green;
  width: 73px;
  padding: 2px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  i {
    color: white;
    font-size: 10px;
    padding-right: 5px;
  }
}
